In [1]:
#import libraries
import pandas as pd

In [2]:
#read csv file

airline_data_df = pd.read_csv('Resources/flights.csv')

C:\Users\My Lenovo\AppData\Local\Temp\ipykernel_26964\3090866793.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  airline_data_df = pd.read_csv('Resources/flights.csv')

In [3]:
#show first 5 records

airline_data_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
airline_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [5]:
#drop unneeded columns
airline_data_dropped_df=airline_data_df.drop(columns=['TAIL_NUMBER', 'WHEELS_ON', 'WHEELS_OFF', 'TAXI_IN','TAXI_OUT', 'AIR_TIME'])

In [6]:
airline_data_dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   ORIGIN_AIRPORT       object
 7   DESTINATION_AIRPORT  object
 8   SCHEDULED_DEPARTURE  int64
 9   DEPARTURE_TIME       float64
 10  DEPARTURE_DELAY      float64
 11  SCHEDULED_TIME       float64
 12  ELAPSED_TIME         float64
 13  DISTANCE             int64
 14  SCHEDULED_ARRIVAL    int64
 15  ARRIVAL_TIME         float64
 16  ARRIVAL_DELAY        float64
 17  DIVERTED             int64
 18  CANCELLED            int64
 19  CANCELLATION_REASON  object
 20  AIR_SYSTEM_DELAY     float64
 21  SECURITY_DELAY       float64
 22  AIRLINE_DELAY        float64
 23  LATE_AIRCRAFT_DELAY  float64
 24  WEATHER_DELAY        float64
dtypes: float64(11), int64(10), object(4)
memory usage: 1.1+ GB

In [7]:
#merge the year, month and day columns into one Date column
airline_data_dropped_df['DATE'] = pd.to_datetime(airline_data_dropped_df[['YEAR', 'MONTH', 'DAY']])

#drop the individual year, month and day columns
airline_data_dropped_df = airline_data_dropped_df.drop(['YEAR', 'MONTH', 'DAY'], axis=1)

In [8]:
airline_data_dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DAY_OF_WEEK          int64
 1   AIRLINE              object
 2   FLIGHT_NUMBER        int64
 3   ORIGIN_AIRPORT       object
 4   DESTINATION_AIRPORT  object
 5   SCHEDULED_DEPARTURE  int64
 6   DEPARTURE_TIME       float64
 7   DEPARTURE_DELAY      float64
 8   SCHEDULED_TIME       float64
 9   ELAPSED_TIME         float64
 10  DISTANCE             int64
 11  SCHEDULED_ARRIVAL    int64
 12  ARRIVAL_TIME         float64
 13  ARRIVAL_DELAY        float64
 14  DIVERTED             int64
 15  CANCELLED            int64
 16  CANCELLATION_REASON  object
 17  AIR_SYSTEM_DELAY     float64
 18  SECURITY_DELAY       float64
 19  AIRLINE_DELAY        float64
 20  LATE_AIRCRAFT_DELAY  float64
 21  WEATHER_DELAY        float64
 22  DATE                 datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 1021.1+ MB

In [9]:
#set index to the Date column
airline_data_dropped_df=airline_data_dropped_df.set_index('DATE', drop=True)

#slice the date and get data from January to April
first_quarter_df = airline_data_dropped_df['2015-01-01':'2015-04-30']

In [10]:
first_quarter_df.describe()

,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,1.888622e+06,1.888622e+06,1.888622e+06,1.842014e+06,1.842014e+06,1.888618e+06,1.836065e+06,1.888622e+06,1.888622e+06,1.839546e+06,1.836065e+06,1.888622e+06,1.888622e+06,368829.000000,368829.000000,368829.000000,368829.000000,368829.000000
mean,3.925351e+00,2.227698e+03,1.328371e+03,1.336747e+03,9.673265e+00,1.406500e+02,1.367470e+02,8.096458e+02,1.501974e+03,1.487360e+03,5.439053e+00,2.401751e-03,2.542647e-02,13.486326,0.058363,18.247180,22.458402,3.049118
std,1.978990e+00,1.785940e+03,4.773797e+02,4.890445e+02,3.703578e+01,7.460040e+01,7.371532e+01,5.958267e+02,4.972831e+02,5.163942e+02,3.956125e+01,4.894879e-02,1.574166e-01,26.544366,1.853606,46.225725,41.797584,21.364074
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-6.800000e+01,2.000000e+01,1.500000e+01,2.100000e+01,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000e+00,7.490000e+02,9.200000e+02,9.260000e+02,-5.000000e+00,8.500000e+01,8.200000e+01,3.700000e+02,1.116000e+03,1.109000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000e+00,1.703000e+03,1.325000e+03,1.332000e+03,-1.000000e+00,1.220000e+02,1.190000e+02,6.460000e+02,1.524000e+03,1.519000e+03,-4.000000e+00,0.000000e+00,0.000000e+00,3.000000,0.000000,2.000000,3.000000,0.000000
75%,6.000000e+00,3.422000e+03,1.726000e+03,1.737000e+03,8.000000e+00,1.730000e+02,1.690000e+02,1.050000e+03,1.919000e+03,1.918000e+03,9.000000e+00,0.000000e+00,0.000000e+00,18.000000,0.000000,18.000000,28.000000,0.000000
max,7.000000e+00,9.794000e+03,2.359000e+03,2.400000e+03,1.988000e+03,7.180000e+02,7.660000e+02,4.983000e+03,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1101.000000,241.000000,1971.000000,1313.000000,1152.000000

In [11]:
#determine the number of nulls per column
first_quarter_df.isnull().sum()

DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           46608
DEPARTURE_DELAY          46608
SCHEDULED_TIME               4
ELAPSED_TIME             52557
DISTANCE                     0
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             49076
ARRIVAL_DELAY            52557
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    1840601
AIR_SYSTEM_DELAY       1519793
SECURITY_DELAY         1519793
AIRLINE_DELAY          1519793
LATE_AIRCRAFT_DELAY    1519793
WEATHER_DELAY          1519793
dtype: int64

In [12]:
#get the top 5 airlines with the most entries 
first_quarter_df['AIRLINE'].value_counts().head(5)

AIRLINE
WN    405866
DL    271641
EV    198549
OO    191510
AA    174630
Name: count, dtype: int64

In [13]:
first_quarter_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1888622 entries, 2015-01-01 to 2015-04-30
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   DAY_OF_WEEK          int64
 1   AIRLINE              object
 2   FLIGHT_NUMBER        int64
 3   ORIGIN_AIRPORT       object
 4   DESTINATION_AIRPORT  object
 5   SCHEDULED_DEPARTURE  int64
 6   DEPARTURE_TIME       float64
 7   DEPARTURE_DELAY      float64
 8   SCHEDULED_TIME       float64
 9   ELAPSED_TIME         float64
 10  DISTANCE             int64
 11  SCHEDULED_ARRIVAL    int64
 12  ARRIVAL_TIME         float64
 13  ARRIVAL_DELAY        float64
 14  DIVERTED             int64
 15  CANCELLED            int64
 16  CANCELLATION_REASON  object
 17  AIR_SYSTEM_DELAY     float64
 18  SECURITY_DELAY       float64
 19  AIRLINE_DELAY        float64
 20  LATE_AIRCRAFT_DELAY  float64
 21  WEATHER_DELAY        float64
dtypes: float64(11), int64(7), object(4)
memory usage: 331.4+ MB

In [ ]:
departure_delays_by_airline=pd.DataFrame(first_quarter_df.groupby('AIRLINE').filter(lambda x: ['total_sales'].sum())