In [69]:
import pandas as pd

In [70]:
flights_df = pd.read_csv('flights.csv')

C:\Users\18176\AppData\Local\Temp\ipykernel_20828\3565579923.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv('flights.csv')

In [71]:
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
len(flights_df)
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [73]:
flights_df['DATE'] = pd.to_datetime(flights_df[['YEAR', 'MONTH', 'DAY']])
flights_df = flights_df.drop(['YEAR', 'MONTH', 'DAY'], axis=1)

In [74]:
flights_df.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
2,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
3,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
4,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01

In [75]:
new_order = ['DATE', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']

In [76]:
flights_df = flights_df[new_order]
flights_df.tail(50)

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819029,2015-12-31,4,AA,661,KOA,PHX,2345,2339.0,-6.0,341.0,...,804.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819030,2015-12-31,4,AA,217,LAS,MIA,2347,2350.0,3.0,267.0,...,720.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819031,2015-12-31,4,AA,1927,LAX,IAD,2349,2346.0,-3.0,289.0,...,712.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819032,2015-12-31,4,DL,729,HNL,PDX,2350,2350.0,0.0,341.0,...,715.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819033,2015-12-31,4,DL,1354,LAX,ATL,2350,16.0,26.0,244.0,...,705.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819034,2015-12-31,4,UA,235,HNL,SFO,2350,15.0,25.0,318.0,...,710.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819035,2015-12-31,4,AA,675,HNL,PHX,2350,2348.0,-2.0,350.0,...,818.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819036,2015-12-31,4,B6,1124,LAX,JFK,2350,2349.0,-1.0,310.0,...,748.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819037,2015-12-31,4,AS,150,ANC,LAX,2350,2345.0,-5.0,325.0,...,552.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819038,2015-12-31,4,AS,660,SEA,DFW,2350,2352.0,2.0,220.0,...,536.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819039,2015-12-31,4,AS,816,LIH,SEA,2350,2343.0,-7.0,350.0,...,652.0,-48.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819040,2015-12-31,4,UA,867,LAX,EWR,2354,2345.0,-9.0,313.0,...,719.0,-48.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819041,2015-12-31,4,UA,1796,SFO,EWR,2354,2349.0,-5.0,322.0,...,750.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819042,2015-12-31,4,DL,964,PDX,ATL,2355,2349.0,-6.0,264.0,...,704.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819043,2015-12-31,4,F9,808,DEN,PBI,2355,2400.0,5.0,217.0,...,520.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819044,2015-12-31,4,F9,420,DEN,ATL,2355,14.0,19.0,175.0,...,441.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819045,2015-12-31,4,NK,696,LAS,BWI,2355,2353.0,-2.0,262.0,...,654.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819046,2015-12-31,4,NK,970,DEN,FLL,2355,2348.0,-7.0,218.0,...,517.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819047,2015-12-31,4,OO,6384,LAX,AUS,2355,2350.0,-5.0,183.0,...,439.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819048,2015-12-31,4,UA,1205,LAX,ORD,2355,1.0,6.0,240.0,...,541.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819049,2015-12-31,4,AA,1538,LAX,MIA,2355,2357.0,2.0,293.0,...,731.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819050,2015-12-31,4,B6,136,PHX,JFK,2355,2357.0,2.0,267.0,...,607.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819051,2015-12-31,4,AS,28,SEA,MSP,2355,11.0,16.0,192.0,...,535.0,28.0,0,0,NaN,12.0,0.0,16.0,0.0,0.0
5819052,2015-12-31,4,AS,111,LAS,ANC,2355,2340.0,-15.0,360.0,...,353.0,-62.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819053,2015-12-31,4,AS,121,SEA,ANC,2355,2355.0,0.0,236.0,...,224.0,-27.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819054,2015-12-31,4,AS,175,LAX,ANC,2355,2350.0,-5.0,350.0,...,400.0,-45.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819055,2015-12-31,4,AS,471,LAX,SEA,2355,2353.0,-2.0,169.0,...,225.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819056,2015-12-31,4,AS,850,KOA,SEA,2355,2352.0,-3.0,355.0,...,712.0,-38.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819057,2015-12-31,4,NK,371,FLL,BQN,2358,11.0,13.0,140.0,...,346.0,28.0,0,0,NaN,15.0,0.0,13.0,0.0,0.0
5819058,2015-12-31,4,DL,2224,PHX,DTW,2359,2352.0,-7.0,224.0,...,512.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819059,2015-12-31,4,F9,710,DEN,RSW,2359,2351.0,-8.0,211.0,...,518.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819060,2015-12-31,4,F9,682,DEN,MCO,2359,2354.0,-5.0,206.0,...,504.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819061,2015-12-31,4,F9,566,DEN,RDU,2359,2356.0,-3.0,185.0,...,446.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819062,2015-12-31,4,F9,300,DEN,TPA,2359,5.0,6.0,199.0,...,509.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819063,2015-12-31,4,UA,516,SEA,IAH,2359,1.0,2.0,247.0,...,600.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819064,2015-12-31,4,UA,668,LAS,IAD,2359,2356.0,-3.0,262.0,...,652.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819065,2015-12-31,4,UA,671,PDX,IAH,2359,2352.0,-7.0,245.0,...,545.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819066,2015-12-31,4,UA,1849,LAS,EWR,2359,2357.0,-2.0,283.0,...,718.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819067,2015-12-31,4,AA,2342,DEN,MIA,2359,2351.0,-8.0,224.0,...,525.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819068,2015-12-31,4,AA,219,LAX,ORD,2359,2358.0,-1.0,244.0,...,544.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819069,2015-12-31,4,B6,1248,LAS,JFK,2359,238.0,159.0,282.0,...,1020.0,159.0,0,0,NaN,0.0,0.0,159.0,0.0,0.0
5819070,2015-12-31,4,B6,80,RNO,JFK,2359,2359.0,0.0,306.0,...,744.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819071,2015-12-31,4,B6,802,SLC,MCO,2359,15.0,16.0,249.0,...,625.0,17.0,0,0,NaN,1.0,0.0,16.0,0.0,0.0
5819072,2015-12-31,4,B6,98,DEN,JFK,2359,6.0,7.0,211.0,...,519.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819073,2015-12-31,4,B6,66,ABQ,JFK,2359,15.0,16.0,227.0,...,549.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819074,2015-12-31,4,B6,688,LAX,BOS,2359,2355.0,-4.0,320.0,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015-12-31,4,B6,745,JFK,PSE,2359,2355.0,-4.0,227.0,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015-12-31,4,B6,1503,JFK,SJU,2359,2350.0,-9.0,221.0,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015-12-31,4,B6,333,MCO,SJU,2359,2353.0,-6.0,161.0,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015-12-31,4,B6,839,JFK,BQN,2359,14.0,15.0,221.0,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DATE                 datetime64[ns]
 1   DAY_OF_WEEK          int64
 2   AIRLINE              object
 3   FLIGHT_NUMBER        int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   SCHEDULED_TIME       float64
 10  ELAPSED_TIME         float64
 11  DISTANCE             int64
 12  SCHEDULED_ARRIVAL    int64
 13  ARRIVAL_TIME         float64
 14  ARRIVAL_DELAY        float64
 15  DIVERTED             int64
 16  CANCELLED            int64
 17  CANCELLATION_REASON  object
 18  AIR_SYSTEM_DELAY     float64
 19  SECURITY_DELAY       float64
 20  AIRLINE_DELAY        float64
 21  LATE_AIRCRAFT_DELAY  float64
 22  WEATHER_DELAY        float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 1021.1+ MB

In [88]:
third_quarter = flights_df[(flights_df['DATE'] >= "2015-09-01") & (flights_df['DATE'] <= "2015-12-31")]

In [89]:
third_quarter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1898313 entries, 3920766 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DATE                 datetime64[ns]
 1   DAY_OF_WEEK          int64
 2   AIRLINE              object
 3   FLIGHT_NUMBER        int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   SCHEDULED_TIME       float64
 10  ELAPSED_TIME         float64
 11  DISTANCE             int64
 12  SCHEDULED_ARRIVAL    int64
 13  ARRIVAL_TIME         float64
 14  ARRIVAL_DELAY        float64
 15  DIVERTED             int64
 16  CANCELLED            int64
 17  CANCELLATION_REASON  object
 18  AIR_SYSTEM_DELAY     float64
 19  SECURITY_DELAY       float64
 20  AIRLINE_DELAY        float64
 21  LATE_AIRCRAFT_DELAY  float64
 22  WEATHER_DELAY        float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 347.6+ MB

In [102]:
third_quarter['ORIGIN_AIRPORT'].value_counts()

ORIGIN_AIRPORT
ATL      93259
ORD      77820
DFW      60542
DEN      52490
LAX      51003
         ...
13502        1
14025        1
11503        1
13964        1
13459        1
Name: count, Length: 920, dtype: int64