In [58]:
import pandas as pd

In [59]:
flights_df = pd.read_csv('flights.csv')

C:\Users\18176\AppData\Local\Temp\ipykernel_21724\3565579923.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv('flights.csv')

In [60]:
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
len(flights_df)
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [62]:
flights_df['DATE'] = pd.to_datetime(flights_df[['YEAR', 'MONTH', 'DAY']])
flights_df = flights_df.drop(['YEAR', 'MONTH', 'DAY'], axis=1)

In [63]:
flights_df.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
2,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
3,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
4,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01

In [64]:
new_order = ['DATE', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']

In [65]:
flights_df = flights_df[new_order]
flights_df.tail(50)

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819029,2015-12-31,4,AA,661,KOA,PHX,2345,2339.0,-6.0,341.0,...,804.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819030,2015-12-31,4,AA,217,LAS,MIA,2347,2350.0,3.0,267.0,...,720.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819031,2015-12-31,4,AA,1927,LAX,IAD,2349,2346.0,-3.0,289.0,...,712.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819032,2015-12-31,4,DL,729,HNL,PDX,2350,2350.0,0.0,341.0,...,715.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819033,2015-12-31,4,DL,1354,LAX,ATL,2350,16.0,26.0,244.0,...,705.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819034,2015-12-31,4,UA,235,HNL,SFO,2350,15.0,25.0,318.0,...,710.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819035,2015-12-31,4,AA,675,HNL,PHX,2350,2348.0,-2.0,350.0,...,818.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819036,2015-12-31,4,B6,1124,LAX,JFK,2350,2349.0,-1.0,310.0,...,748.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819037,2015-12-31,4,AS,150,ANC,LAX,2350,2345.0,-5.0,325.0,...,552.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819038,2015-12-31,4,AS,660,SEA,DFW,2350,2352.0,2.0,220.0,...,536.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819039,2015-12-31,4,AS,816,LIH,SEA,2350,2343.0,-7.0,350.0,...,652.0,-48.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819040,2015-12-31,4,UA,867,LAX,EWR,2354,2345.0,-9.0,313.0,...,719.0,-48.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819041,2015-12-31,4,UA,1796,SFO,EWR,2354,2349.0,-5.0,322.0,...,750.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819042,2015-12-31,4,DL,964,PDX,ATL,2355,2349.0,-6.0,264.0,...,704.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819043,2015-12-31,4,F9,808,DEN,PBI,2355,2400.0,5.0,217.0,...,520.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819044,2015-12-31,4,F9,420,DEN,ATL,2355,14.0,19.0,175.0,...,441.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819045,2015-12-31,4,NK,696,LAS,BWI,2355,2353.0,-2.0,262.0,...,654.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819046,2015-12-31,4,NK,970,DEN,FLL,2355,2348.0,-7.0,218.0,...,517.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819047,2015-12-31,4,OO,6384,LAX,AUS,2355,2350.0,-5.0,183.0,...,439.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819048,2015-12-31,4,UA,1205,LAX,ORD,2355,1.0,6.0,240.0,...,541.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819049,2015-12-31,4,AA,1538,LAX,MIA,2355,2357.0,2.0,293.0,...,731.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819050,2015-12-31,4,B6,136,PHX,JFK,2355,2357.0,2.0,267.0,...,607.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819051,2015-12-31,4,AS,28,SEA,MSP,2355,11.0,16.0,192.0,...,535.0,28.0,0,0,NaN,12.0,0.0,16.0,0.0,0.0
5819052,2015-12-31,4,AS,111,LAS,ANC,2355,2340.0,-15.0,360.0,...,353.0,-62.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819053,2015-12-31,4,AS,121,SEA,ANC,2355,2355.0,0.0,236.0,...,224.0,-27.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819054,2015-12-31,4,AS,175,LAX,ANC,2355,2350.0,-5.0,350.0,...,400.0,-45.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819055,2015-12-31,4,AS,471,LAX,SEA,2355,2353.0,-2.0,169.0,...,225.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819056,2015-12-31,4,AS,850,KOA,SEA,2355,2352.0,-3.0,355.0,...,712.0,-38.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819057,2015-12-31,4,NK,371,FLL,BQN,2358,11.0,13.0,140.0,...,346.0,28.0,0,0,NaN,15.0,0.0,13.0,0.0,0.0
5819058,2015-12-31,4,DL,2224,PHX,DTW,2359,2352.0,-7.0,224.0,...,512.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819059,2015-12-31,4,F9,710,DEN,RSW,2359,2351.0,-8.0,211.0,...,518.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819060,2015-12-31,4,F9,682,DEN,MCO,2359,2354.0,-5.0,206.0,...,504.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819061,2015-12-31,4,F9,566,DEN,RDU,2359,2356.0,-3.0,185.0,...,446.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819062,2015-12-31,4,F9,300,DEN,TPA,2359,5.0,6.0,199.0,...,509.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819063,2015-12-31,4,UA,516,SEA,IAH,2359,1.0,2.0,247.0,...,600.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819064,2015-12-31,4,UA,668,LAS,IAD,2359,2356.0,-3.0,262.0,...,652.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819065,2015-12-31,4,UA,671,PDX,IAH,2359,2352.0,-7.0,245.0,...,545.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819066,2015-12-31,4,UA,1849,LAS,EWR,2359,2357.0,-2.0,283.0,...,718.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819067,2015-12-31,4,AA,2342,DEN,MIA,2359,2351.0,-8.0,224.0,...,525.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819068,2015-12-31,4,AA,219,LAX,ORD,2359,2358.0,-1.0,244.0,...,544.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819069,2015-12-31,4,B6,1248,LAS,JFK,2359,238.0,159.0,282.0,...,1020.0,159.0,0,0,NaN,0.0,0.0,159.0,0.0,0.0
5819070,2015-12-31,4,B6,80,RNO,JFK,2359,2359.0,0.0,306.0,...,744.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819071,2015-12-31,4,B6,802,SLC,MCO,2359,15.0,16.0,249.0,...,625.0,17.0,0,0,NaN,1.0,0.0,16.0,0.0,0.0
5819072,2015-12-31,4,B6,98,DEN,JFK,2359,6.0,7.0,211.0,...,519.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819073,2015-12-31,4,B6,66,ABQ,JFK,2359,15.0,16.0,227.0,...,549.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819074,2015-12-31,4,B6,688,LAX,BOS,2359,2355.0,-4.0,320.0,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015-12-31,4,B6,745,JFK,PSE,2359,2355.0,-4.0,227.0,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015-12-31,4,B6,1503,JFK,SJU,2359,2350.0,-9.0,221.0,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015-12-31,4,B6,333,MCO,SJU,2359,2353.0,-6.0,161.0,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015-12-31,4,B6,839,JFK,BQN,2359,14.0,15.0,221.0,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DATE                 datetime64[ns]
 1   DAY_OF_WEEK          int64
 2   AIRLINE              object
 3   FLIGHT_NUMBER        int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   SCHEDULED_TIME       float64
 10  ELAPSED_TIME         float64
 11  DISTANCE             int64
 12  SCHEDULED_ARRIVAL    int64
 13  ARRIVAL_TIME         float64
 14  ARRIVAL_DELAY        float64
 15  DIVERTED             int64
 16  CANCELLED            int64
 17  CANCELLATION_REASON  object
 18  AIR_SYSTEM_DELAY     float64
 19  SECURITY_DELAY       float64
 20  AIRLINE_DELAY        float64
 21  LATE_AIRCRAFT_DELAY  float64
 22  WEATHER_DELAY        float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 1021.1+ MB

In [67]:
third_quarter = flights_df[(flights_df['DATE'] >= "2015-09-01") & (flights_df['DATE'] <= "2015-12-31")]

In [68]:
third_quarter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1898313 entries, 3920766 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DATE                 datetime64[ns]
 1   DAY_OF_WEEK          int64
 2   AIRLINE              object
 3   FLIGHT_NUMBER        int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   SCHEDULED_TIME       float64
 10  ELAPSED_TIME         float64
 11  DISTANCE             int64
 12  SCHEDULED_ARRIVAL    int64
 13  ARRIVAL_TIME         float64
 14  ARRIVAL_DELAY        float64
 15  DIVERTED             int64
 16  CANCELLED            int64
 17  CANCELLATION_REASON  object
 18  AIR_SYSTEM_DELAY     float64
 19  SECURITY_DELAY       float64
 20  AIRLINE_DELAY        float64
 21  LATE_AIRCRAFT_DELAY  float64
 22  WEATHER_DELAY        float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 347.6+ MB

In [135]:
length_of_column = len(third_quarter['ORIGIN_AIRPORT'])
length_of_column

1898313

In [74]:
third_quarter['ORIGIN_AIRPORT'].unique().tolist()

['LAS',
 'SFO',
 'LAX',
 'SLC',
 'SEA',
 'PHX',
 'ABQ',
 'ANC',
 'DEN',
 'FAI',
 'BQN',
 'SJU',
 'PBG',
 'PSE',
 'SAT',
 'IAH',
 'MFE',
 'DFW',
 'EWR',
 'BOS',
 'MSP',
 'PDX',
 'GEG',
 'ORD',
 'BIS',
 'GRK',
 'HNL',
 'XNA',
 'COU',
 'BNA',
 'SGF',
 'ONT',
 'LCH',
 'BPT',
 'ICT',
 'RDD',
 'AUS',
 'STL',
 'FAR',
 'GNV',
 'OKC',
 'TUL',
 'LAW',
 'ACT',
 'DCA',
 'MCO',
 'PHL',
 'TPA',
 'ABR',
 'FSD',
 'TUS',
 'SJT',
 'CLT',
 'PIT',
 'BWI',
 'BJI',
 'FSM',
 'CHO',
 'MAF',
 'PIA',
 'MCI',
 'DVL',
 'CLL',
 'SMF',
 'VPS',
 'HRL',
 'BRO',
 'RDU',
 'BOI',
 'BUF',
 'BTR',
 'LWS',
 'DIK',
 'GRB',
 'MKE',
 'SPS',
 'RIC',
 'JAX',
 'HSV',
 'AGS',
 'SAV',
 'GSO',
 'CHS',
 'ALB',
 'RNO',
 'HOU',
 'MDW',
 'MHT',
 'OAK',
 'TYR',
 'ABI',
 'SBA',
 'EUG',
 'JFK',
 'DHN',
 'LFT',
 'SYR',
 'PWM',
 'ESC',
 'LBB',
 'ATL',
 'CMH',
 'FLL',
 'PBI',
 'SHV',
 'MGM',
 'FNT',
 'BHM',
 'CRP',
 'BTV',
 'ROC',
 'LGA',
 'PVD',
 'DTW',
 'IAD',
 'ORF',
 'AEX',
 'CWA',
 'MFR',
 'OMA',
 'MSO',
 'CAE',
 'TLH',
 'DAY',
 'ELP',
 'IND',
 'MEM',
 'ATW',
 'ERI',
 'BIL',
 'MRY',
 'RDM',
 'GSP',
 'BDL',
 'AVL',
 'GRR',
 'INL',
 'RSW',
 'DSM',
 'VLD',
 'AVP',
 'LEX',
 'IDA',
 'BFL',
 'ABY',
 'TVC',
 'CAK',
 'MSY',
 'CRW',
 'MLI',
 'HLN',
 'SAF',
 'TOL',
 'MIA',
 'FAT',
 'SIT',
 'JNU',
 'MOB',
 'ABE',
 'BZN',
 'CLE',
 'PNS',
 'MDT',
 'FAY',
 'LIT',
 'ECP',
 'MSN',
 'JAN',
 'SDF',
 'EVV',
 'CPR',
 'IMT',
 'DAL',
 'AMA',
 'SPI',
 'LAN',
 'LNK',
 'CSG',
 'ILM',
 'PHF',
 'EWN',
 'CHA',
 'HPN',
 'MLU',
 'OAJ',
 'TTN',
 'CVG',
 'BMI',
 'GPT',
 'FWA',
 'GRI',
 'GJT',
 'MHK',
 'CID',
 'GTF',
 'GCC',
 'RKS',
 'PSC',
 'RAP',
 'ACV',
 'SMX',
 'CMX',
 'RST',
 'SUX',
 'SCE',
 'TYS',
 'MTJ',
 'ALO',
 'PSP',
 'OGG',
 'COS',
 'FCA',
 'LAR',
 'KOA',
 'SAN',
 'ISP',
 'ELM',
 'BQK',
 'SBN',
 'ISN',
 'SJC',
 'MOT',
 'AZO',
 'MLB',
 'TRI',
 'SBP',
 'ITO',
 'DLH',
 'LIH',
 'LSE',
 'DRO',
 'PAH',
 'TWF',
 'SWF',
 'GUM',
 'ROA',
 'CMI',
 'DBQ',
 'CIU',
 'JMS',
 'BTM',
 'PLN',
 'SGU',
 'GCK',
 'JLN',
 'TXK',
 'SNA',
 'GTR',
 'ACY',
 'LGB',
 'LRD',
 'SUN',
 'BUR',
 'JAC',
 'MYR',
 'LBE',
 'PIB',
 'ROW',
 'FLG',
 'YUM',
 'PIH',
 'EYW',
 'BRD',
 'HIB',
 'SRQ',
 'RHI',
 'DAB',
 'EGE',
 'HDN',
 'MEI',
 'GFK',
 'ASE',
 'STT',
 'ADQ',
 'BET',
 'KTN',
 'MQT',
 'BGR',
 'HOB',
 'OME',
 'ACK',
 'MBS',
 'CDC',
 'SCC',
 'HYS',
 'APN',
 'GGG',
 'ORH',
 'WRG',
 'MKG',
 'YAK',
 'BRW',
 'PSG',
 'OTZ',
 'GUC',
 'WYS',
 'HYA',
 'CDV',
 'OTH',
 'EAU',
 'MVY',
 'STX',
 'COD',
 'UST',
 'IAG',
 'ADK',
 'PPG',
 'EKO',
 '14747',
 '14771',
 '12889',
 '12892',
 '14869',
 '10299',
 '11292',
 '14107',
 '11630',
 '10732',
 '14254',
 '10141',
 '10627',
 '11982',
 '12173',
 '13930',
 '14683',
 '12266',
 '11618',
 '10721',
 '13487',
 '11884',
 '15919',
 '13851',
 '11111',
 '10693',
 '12191',
 '14783',
 '15016',
 '14487',
 '10423',
 '15370',
 '11953',
 '13891',
 '15376',
 '11778',
 '11278',
 '14100',
 '13204',
 '15304',
 '11637',
 '14842',
 '10155',
 '11775',
 '11298',
 '11057',
 '13931',
 '10821',
 '14122',
 '11049',
 '10990',
 '10631',
 '13158',
 '14108',
 '13198',
 '11447',
 '12206',
 '13495',
 '14057',
 '15624',
 '10747',
 '15411',
 '12891',
 '10994',
 '13256',
 '10792',
 '14492',
 '12451',
 '13127',
 '10781',
 '14960',
 '12278',
 '14685',
 '11995',
 '13485',
 '11977',
 '10257',
 '13796',
 '13232',
 '13296',
 '14570',
 '14893',
 '14524',
 '12217',
 '10713',
 '10208',
 '10136',
 '11603',
 '14689',
 '11471',
 '11315',
 '13264',
 '12478',
 '14814',
 '11308',
 '11066',
 '12896',
 '10397',
 '14307',
 '11721',
 '11140',
 '10185',
 '13277',
 '11203',
 '13342',
 '11433',
 '11697',
 '12953',
 '10599',
 '12156',
 '14952',
 '10620',
 '11042',
 '15096',
 '10408',
 '15249',
 '11423',
 '12915',
 '12264',
 '12339',
 '10140',
 '13871',
 '14027',
 '13244',
 '11267',
 '11540',
 '14576',
 '10868',
 '13486',
 '13476',
 '14489',
 '12945',
 '15607',
 '10529',
 '11986',
 '14635',
 '13303',
 '10785',
 '15380',
 '11996',
 '10561',
 '10874',
 '13367',
 '10146',
 '10431',
 '11973',
 '10980',
 '12197',
 '14098',
 '12323',
 '10577',
 '11150',
 '10135',
 '11617',
 '13795',
 '13029',
 '11003',
 '11146',
 '11577',
 '15356',
 '11259',
 '10279',
 '14321',
 '14843',
 '11638',
 '14828',
 '11481',
 '12951',
 '10434',
 '12448',
 '14730',
 '15323',
 '14252',
 '11193',
 '10849',
 '14193',
 '14986',
 '11641',
 '12992',
 '13422',
 '11612',
 '11823',
 '11980',
 '13290',
 '10158',
 '10685',
 '13377',
 '11109',
 '11076',
 '11122',
 '11865',
 '14543',
 '14905',
 '11587',
 '14457',
 '12335',
 '12343',
 '12003',
 '10157',
 '12884',
 '14633',
 '15048',
 '10268',
 '15295',
 '12389',
 '11525',
 '14262',
 '12888',
 '12391',
 '11648',
 '14696',
 '12758',
 '13830',
 '10469',
 '15412',
 '10731',
 '14679',
 '14831',
 '11413',
 '13433',
 '12982',
 '11867',
 '14698',
 '11537',
 '15389',
 '12402',
 '11337',
 '13360',
 '13076',
 '14006',
 '10728',
 '15401',
 '13230',
 '12016',
 '11067',
 '11274',
 '11921',
 '12519',
 '11013',
 '10779',
 '14150',
 '14794',
 '12511',
 '12177',
 '12523',
 '14908',
 '12007',
 '14588',
 '13577',
 '13061',
 '15041',
 '14109',
 '10800',
 '12954',
 '12441',
 '12898',
 '11695',
 '16218',
 '14113',
 '11624',
 '11503',
 '10739',
 '14574',
 '14711',
 '12129',
 '15070',
 '14520',
 '13184',
 '11252',
 '12280',
 '13241',
 '11898',
 '15024',
 '14674',
 '10551',
 '12819',
 '13459',
 '10581',
 '13970',
 '10372',
 '10918',
 '14709',
 '12255',
 11267,
 12266,
 10821,
 14771,
 11433,
 11982,
 11905,
 15411,
 14679,
 14108,
 10397,
 13871,
 11618,
 14574,
 10423,
 11259,
 10800,
 11140,
 12191,
 12889,
 13198,
 10529,
 10693,
 13232,
 11540,
 14570,
 14635,
 14831,
 11298,
 13204,
 11278,
 14100,
 12892,
 12478,
 13930,
 15304,
 14107,
 12523,
 12954,
 11697,
 14057,
 12339,
 13487,
 14893,
 11986,
 11292,
 14576,
 15370,
 12402,
 14908,
 12953,
 12758,
 15016,
 10721,
 12264,
 10685,
 11612,
 13277,
 11057,
 12891,
 12197,
 11193,
 13495,
 13891,
 13244,
 14843,
 14747,
 11996,
 10333,
 14262,
 11695,
 13342,
 14698,
 10431,
 15376,
 12451,
 14524,
 13830,
 13796,
 14122,
 14960,
 16218,
 10713,
 11066,
 10208,
 14683,
 14869,
 14492,
 11638,
 11413,
 10792,
 10408,
 14689,
 10980,
 14952,
 12951,
 15323,
 11884,
 14307,
 14730,
 14783,
 11603,
 11977,
 11921,
 13577,
 13061,
 13851,
 11042,
 12448,
 12992,
 10874,
 12896,
 11308,
 12173,
 12206,
 13377,
 10747,
 13256,
 13303,
 10185,
 10599,
 10140,
 15295,
 11898,
 13795,
 10728,
 10994,
 12391,
 10299,
 12217,
 13290,
 12007,
 11109,
 15096,
 10627,
 13433,
 15249,
 12278,
 12915,
 11637,
 13931,
 13485,
 11721,
 11775,
 13476,
 15841,
 14027,
 15380,
 12945,
 11315,
 15919,
 13360,
 10868,
 14986,
 12982,
 10279,
 11150,
 13264,
 14193,
 11823,
 13367,
 10469,
 11423,
 11337,
 11252,
 13029,
 14696,
 11049,
 13296,
 14685,
 13158,
 12323,
 10257,
 14588,
 11274,
 13344,
 13933,
 15412,
 13422,
 11146,
 15991,
 13230,
 14794,
 11003,
 14828,
 10781,
 10990,
 10785,
 10434,
 14457,
 11481,
 11537,
 10136,
 14814,
 10754,
 10135,
 10731,
 13127,
 14321,
 10849,
 14098,
 10146,
 15607,
 11624,
 12177,
 10158,
 12884,
 15624,
 14256,
 11973,
 14842,
 15356,
 10561,
 14113,
 15389,
 14489,
 12094,
 12888,
 13076,
 12129,
 13873,
 10157,
 11995,
 10631,
 12441,
 12343,
 14252,
 11097,
 10732,
 10154,
 11122,
 11641,
 13486,
 12003,
 10620,
 10779,
 12335,
 11076,
 15041,
 12156,
 12280,
 10926,
 12819,
 11865,
 12519,
 11778,
 10551,
 12389,
 11953,
 12898,
 15024,
 10155,
 11013,
 10372,
 11587,
 13964,
 11980,
 11630,
 11648,
 14905,
 11525,
 15070,
 11471,
 11111,
 14633,
 11447,
 11203,
 13241,
 12511,
 11067,
 10268,
 13184,
 10141,
 13541,
 14150,
 15027,
 14109,
 15048,
 14006,
 10739,
 14520,
 11617,
 14487,
 11867,
 14674,
 14543,
 10577,
 10170,
 11577,
 14709,
 14711,
 12255,
 10165,
 10918,
 15401,
 13970,
 15497,
 12265,
 14254,
 10581,
 12016,
 11503,
 13459,
 14222,
 14025,
 13502,
 '15841',
 '13344',
 '15991',
 '10754',
 '14256',
 '13873',
 '11097',
 '10926',
 '13964',
 '11905',
 '15027',
 '13933',
 '10170',
 '10333',
 '14222',
 '14025',
 '13502',
 '15497',
 '12265',
 'BLI',
 'BGM',
 'MMH',
 'ITH']

In [144]:
for column in third_quarter.columns:
    if column == 'ORIGIN_AIRPORT' and isinstance(third_quarter['ORIGIN_AIRPORT'].dtype, str):
        third_quarter['ORIGIN_AIRPORT'] = pd.to_numeric(third_quarter['ORIGIN_AIRPORT'], errors='coerce')

In [146]:
third_quarter['ORIGIN_AIRPORT'].unique().tolist()

KeyError: 'ORIGIN_AIRPORTs'

In [143]:
third_quarter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1898313 entries, 3920766 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DATE                 datetime64[ns]
 1   DAY_OF_WEEK          int64
 2   AIRLINE              object
 3   FLIGHT_NUMBER        int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   SCHEDULED_TIME       float64
 10  ELAPSED_TIME         float64
 11  DISTANCE             int64
 12  SCHEDULED_ARRIVAL    int64
 13  ARRIVAL_TIME         float64
 14  ARRIVAL_DELAY        float64
 15  DIVERTED             int64
 16  CANCELLED            int64
 17  CANCELLATION_REASON  object
 18  AIR_SYSTEM_DELAY     float64
 19  SECURITY_DELAY       float64
 20  AIRLINE_DELAY        float64
 21  LATE_AIRCRAFT_DELAY  float64
 22  WEATHER_DELAY        float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 412.1+ MB

In [138]:
third_quarter.loc[third_quarter['DIVERTED'] >= 1]

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
3922722,2015-09-01,2,AA,1318,SJC,DFW,710,707.0,-3.0,214.0,...,1749.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
3927244,2015-09-01,2,WN,577,MCO,BDL,1135,1526.0,231.0,160.0,...,2039.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
3927332,2015-09-01,2,EV,4281,PIT,IAH,1140,1134.0,-6.0,194.0,...,1514.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
3929666,2015-09-01,2,OO,5622,ORD,BDL,1400,1357.0,-3.0,131.0,...,2011.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
3930139,2015-09-01,2,B6,445,SWF,MCO,1435,1425.0,-10.0,168.0,...,1916.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5813860,2015-12-31,4,UA,1291,LIH,LAX,1405,1901.0,296.0,336.0,...,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5815052,2015-12-31,4,EV,2785,DFW,BRO,1530,1555.0,25.0,110.0,...,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5816657,2015-12-31,4,UA,291,IAD,SMF,1735,1740.0,5.0,351.0,...,2216.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5817342,2015-12-31,4,MQ,3060,DFW,FAR,1830,1840.0,10.0,163.0,...,2250.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5818160,2015-12-31,4,WN,5296,MDW,ABQ,2000,2013.0,13.0,195.0,...,2325.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
third_quarter.loc[third_quarter['CANCELLED'] >= 1]

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
3920818,2015-09-01,2,B6,768,PSE,MCO,334,NaN,NaN,174.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
3921026,2015-09-01,2,WN,121,FLL,ATL,540,NaN,NaN,115.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
3921129,2015-09-01,2,OO,5218,IDA,DEN,550,NaN,NaN,95.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
3921570,2015-09-01,2,OO,6420,PSP,DEN,605,NaN,NaN,133.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
3921665,2015-09-01,2,AS,41,ANC,BET,615,611.0,-4.0,74.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818090,2015-12-31,4,UA,1789,IAH,TPA,1955,NaN,NaN,125.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818157,2015-12-31,4,UA,222,SFO,LAX,2000,NaN,NaN,96.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818318,2015-12-31,4,AA,2245,MIA,SAN,2019,NaN,NaN,337.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818777,2015-12-31,4,NK,416,FLL,IAG,2155,NaN,NaN,175.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818843,2015-12-31,4,AA,1042,SAN,MIA,2210,NaN,NaN,277.0,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN

In [140]:
third_quarter.loc[third_quarter['ARRIVAL_DELAY'] >= 1]

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
3920766,2015-09-01,2,NK,298,LAS,IAH,3,110.0,67.0,177.0,...,600.0,60.0,0,0,NaN,0.0,0.0,0.0,60.0,0.0
3920767,2015-09-01,2,AA,1965,SFO,CLT,5,2.0,-3.0,303.0,...,809.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3920774,2015-09-01,2,AA,448,SLC,CLT,15,52.0,37.0,234.0,...,636.0,27.0,0,0,NaN,0.0,0.0,0.0,27.0,0.0
3920780,2015-09-01,2,AA,771,PHX,PHL,35,42.0,7.0,270.0,...,818.0,13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3920798,2015-09-01,2,AA,1051,SFO,DFW,59,127.0,28.0,199.0,...,637.0,19.0,0,0,NaN,0.0,0.0,19.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819057,2015-12-31,4,NK,371,FLL,BQN,2358,11.0,13.0,140.0,...,346.0,28.0,0,0,NaN,15.0,0.0,13.0,0.0,0.0
5819069,2015-12-31,4,B6,1248,LAS,JFK,2359,238.0,159.0,282.0,...,1020.0,159.0,0,0,NaN,0.0,0.0,159.0,0.0,0.0
5819071,2015-12-31,4,B6,802,SLC,MCO,2359,15.0,16.0,249.0,...,625.0,17.0,0,0,NaN,1.0,0.0,16.0,0.0,0.0
5819073,2015-12-31,4,B6,66,ABQ,JFK,2359,15.0,16.0,227.0,...,549.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015-12-31,4,B6,839,JFK,BQN,2359,14.0,15.0,221.0,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
third_quarter['AIRLINE'].unique().tolist()

['NK', 'AA', 'DL', 'UA', 'VX', 'B6', 'AS', 'HA', 'EV', 'MQ', 'OO', 'F9', 'WN']